@import '../../layouts/vars'

.Header
	position: fixed
	top: 0
	left: 0
	width: 100%
	padding: 50px 0 0
	z-index: 100
	pointer-events: none
	// isolation: isolate

	.container
		display: flex
		justify-content: space-between
		align-items: center

	.Mini-cart
		position: relative
		display: flex
		align-items: center
		border: none
		outline: none
		background-color: transparent
		cursor: pointer
		padding: 16px 25px
		box-sizing: border-box
		background-color: $black
		border-radius: 30px
		pointer-events: auto
		transition: background-color .2s
		&:hover
			background-color: $blue

		span
			font: 16px $medium
			color: white
			margin-right: 10px

		svg
			height: 20px
			width: auto
			fill: white
			transition: fill .2s