@import '../../layouts/vars'

@keyframes dropCart
	from
		opacity: 0
		top: 100px
	to
		opacity: 1
		top: 80px

.Header
	position: fixed
	top: 0
	left: 0
	width: 100%
	padding: 50px 0 0
	z-index: 100
	pointer-events: none
	// isolation: isolate

	.container
		position: relative
		display: flex
		justify-content: space-between
		align-items: center

	&__miniCart
		position: absolute
		right: 0
		top: 80px
		animation: dropCart .2s

	&__cartBtn
		display: flex
		align-items: center
		pointer-events: auto
		padding: 15px 25px 16px

		&.Button--active
			&:before
				box-shadow: 0 16px 36px 0 rgba(244, 22, 62, .1)

		span
			margin-right: 10px

		svg
			height: 20px
			width: auto
			fill: white
			transition: fill .2s